                    <div class="panel-body">
                        <%= form_for(@news) do |f| %>
                        <% if @news.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

                          <ul>
                          <% @news.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>
                      <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                            <%= f.text_field :title, :placeholder => 'Title', :class => 'form-control input-sm', :id => 'title' %>
                            </div>

                            </div>
                                
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                         <%= f.text_area :content, :placeholder => 'Content', :class => 'form-control input-sm animated', :id => 'content' %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                <%= f.file_field :image, required: false, :class => 'input-sm' %>
                                    </div>
                                </div>
                            </div>
                            <%= submit_tag("Submit", :class => "btn btn-info btn-block") %>
                            <% end %>
                    </div>
                </div>
            </div>
        </div>
    