<html>

<body>
	<div class="header">
		<div class="nav">
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About Us", :controller => "pages", :action => "about" %></li>
				<li>Services</li>
				<li>Blog</li>
				<li>Contact Us</li>
			</ul>
		</div>
	</div>
	<div class="topphoto">
			<img src="assets/nailsart.jpg" width="1041" height="366">
	</div>
	<div class="content">
		<img id="nailsart2" src="assets/nailsart2.jpg" width="210" height="170"/>
		<p id="p1">Welcome to Nails Art <br /><br />
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<div class="item1" align="center">
		<img class="galleryimg" src="assets/menuitem.jpg" align="center"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
		<div class="item1"><img src="assets/menuitem.jpg">Gallery</div>
		<div class="item1"><img src="assets/menuitem.jpg">Gallery</div>
		<div class="item4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore </div>
		<div class="item5"><img src="assets/picturebottom.jpg">
			
		</div>
		<div class="item6"><img src="assets/connectwithus.png"><br />
		<p>Newsletter Sign Up</p>
		<%= form_for @newsletter do |f| %>

		Email: <%= f.text_field :title %>
		<%= f.submit 'Subscribe' %>
		<% end %><br />
		<img src="assets/socialbar.png"/>
		</div>
	</div>
		<div class="handsimage"><% flash.each do |name, msg| %>
  			<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			<% end %>
		</div>
</body>
</html>