<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  
  <%= stylesheet_link_tag    'application.css' %>
  <%= javascript_include_tag 'application.js' %>
  
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
