<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= growlyflash_static_notices %>
  <%= stylesheet_link_tag    'application.css' %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#demo15').click(function() {
		        $.blockUI({ message: $('#container3'),
		            onOverlayClick: $.unblockUI
		        });
		    });   
		});
	</script>
	<script type="text/javascript">
	$(function(){
				$('.animated').autosize();
			});
	</script>
</head>
<body>
<div class="header">
	<h3 class="callus">Call us: +353 87 225 3137</h3>
	<h3 class="bookonline">Book online<strong> here</strong></h3>
	<div class="nav">

		<%= link_to root_path do %><div>Home</div><% end %>
		<%= link_to :controller => "pages", :action => "services" do %><div>Services</div><% end %>
		<%= link_to :controller => "pages", :action => "gallery" do %><div>Gallery</div><% end %>
		<%= link_to :controller => "pages", :action => "articles" do %><div>News</div><% end %>
		<%= link_to :controller => "pages", :action => "contact" do %><div>Contact</div><% end %>
	</div>
</div>
<div class="topphoto">
	<%= render :partial => 'topphoto' %>
</div>
<div class="content">
	<%= yield %>
	</br>
	<div class="logobottom" id="logobottom">
		<img class="logobottombig" src="assets/ezflow.png">
		<img class="logobottombig" src="assets/nsi.png">
		<img class="logobottomsmall" src="assets/facebook.png">
		<img class="logobottomsmall" src="assets/googleplus.png">
		<img class="logobottomsmall" src="assets/twitter.png">
		<img class="logobottomsmall" src="assets/email-blue.png">
	</div>
	<div class="footer">
		<div class="footertitles1">Visit us</div>
		<div class="footertitles1">Call us</div>
		<div class="footertitles2">Contact us</div>
		<div class="footertitles2">Opening hours</div>
		</br></br></br>
		<div class="footercontent">
			<div>6 Ard Mor Close,</br> Dublin 24, Ireland</div>
			<div>+353 85 225 3137</div>
			<div>contact@artisticnails</div>
			<div>Mon-Sat<span>9:00 - 20:00</span> </br>Sunday <span>10:00 - 16:00</span></div>
		</div>
	</div>
</div>

</body>
</html>
